spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: http://auth-service:4001
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

            - id: identity-service-route
              uri: http://identity-service:4002
              predicates:
                - Path=/api/iam/**
              filters:
                - StripPrefix=1
                - JwtValidation

server:
  port: 4000

jwt:
  secret: ${JWT_SECRET}




