spring:
  application:
    name: subscription-service
  datasource:
    url: jdbc:h2:mem:subscriptiondb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 4003

logging:
  level:
    com.thomaskyaw: DEBUG
